#!/bin/bash

if [ ! -f ~/control/build ]; then
	exit
fi
rm ~/control/build

echo "Starting build" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Starting Work" --body -

LOGFILE=~/control/logs/build-`date "+%Y-%m-%d-%H-%M-%S"`.log
exec >  >(tee -ia $LOGFILE)
exec 2> >(tee -ia $LOGFILE >&2)

error() {
    echo "Build script failed at line $1" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -
    exit 1
}
trap 'error ${LINENO}' ERR

cd ~/fdroiddata

git pull origin master

fdroid build --all --server --verbose

echo -e "Build output is waiting to be published\n\n$(ls ~/fdroiddata/unsigned -ltrh)" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -

echo Finished
