#!/bin/bash
if [ ! -f ~/control/update ]; then
	exit
fi
rm ~/control/update

echo "Starting postpublish" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Starting Work" --body -

source $(dirname $0)/outputstatus.sh
post_status

LOGFILE=~/control/logs/postpublish-`date "+%Y-%m-%d-%H-%M-%S"`.log
exec >  >(tee -ia $LOGFILE)
exec 2> >(tee -ia $LOGFILE >&2)

error() {
    echo "Postpublish failed at line $1" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -
    exit 1
}
trap 'error ${LINENO}' ERR

cd ~/fdroiddata
set -e
fdroid update --nosign --delete-unknown
echo "Index is waiting to be signed" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -

if [ -f ~/control/makebs-next ]; then
    echo Triggering makebs
    rm ~/control/makebs-next
    touch ~/control/makebs
fi
post_status
