#!/bin/bash
if [ ! -f ~/control/update_server ]; then
	exit
fi
rm ~/control/update_server

echo "Starting postsignindex" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Starting Work" --body -

source $(dirname $0)/outputstatus.sh
post_status

LOGFILE=~/control/logs/postsignindex-`date "+%Y-%m-%d-%H-%M-%S"`.log
exec >  >(tee -ia $LOGFILE)
exec 2> >(tee -ia $LOGFILE >&2)

error() {
    echo "Postsignindex failed at line $1" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -
    exit 1
}
trap 'error ${LINENO}' ERR

cd ~/fdroiddata
set -e
fdroid deploy --verbose --no-checksum
set +e
echo "Server has been updated. Triggering makebs and deploying web site" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -

post_status

# TODO - only do that if reboot is not required, etc!
if [ -f ~/control/pullfdroidserver-next ]; then
    echo Triggering pullfdroidserver
    rm ~/control/pullfdroidserver-next
    touch ~/control/pullfdroidserver
else
    echo Triggering build
    touch ~/control/build
fi
