#!/bin/bash
if [ ! -f ~/control/pullfdroidserver ]; then
	exit
fi
rm ~/control/pullfdroidserver

echo "Starting pullfdroidserver" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Starting Work" --body -

LOGFILE=~/control/logs/pullfdroidserver-`date "+%Y-%m-%d-%H-%M-%S"`.log
exec >  >(tee -ia $LOGFILE)
exec 2> >(tee -ia $LOGFILE >&2)

error() {
    echo "pullfdroidserver failed at line $1" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver Attention Required" --body -
    exit 1
}
trap 'error ${LINENO}' ERR

set -x
git -C ~/fdroidserver pull origin master --ff-only
set +x

echo "Completed pullfdroidserver. Triggering build." | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver: pullfdroidserver complete" --body -

echo Triggering build
touch ~/control/build
