#!/bin/sh -e
#
# rsync the full repo and archive sections, running as low priority as possible

sudo -u fdroid \
     nice -n19 \
     ionice -c3 \
     rsync -ax --delete-after mirror.fcix.net::fdroid/repo \
     {{ userhome }}/fdroiddata/

sudo -u fdroid \
     nice -n19 \
     ionice -c3 \
     rsync -ax --delete-after plug-mirror.rcac.purdue.edu::fdroid/repo \
     {{ userhome }}/fdroiddata/

sudo -u fdroid \
     nice -n19 \
     ionice -c3 \
     rsync -ax --delete-after --exclude '*_src.tar.gz' --delete-excluded \
     mirror.fcix.net::fdroid/archive \
     {{ userhome }}/fdroiddata/

sudo -u fdroid \
     nice -n19 \
     ionice -c3 \
     rsync -ax --delete-after --exclude '*_src.tar.gz' --delete-excluded \
     plug-mirror.rcac.purdue.edu::fdroid/archive \
     {{ userhome }}/fdroiddata/
